################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.git
/.vs
/CsGoGranades/bin/**
/CsGoGranades/obj/**
/CsGoGranades/Properties/PublishProfiles/*
